# [Command] _{{ names|join(' ') }}_

{{ help.long }}

{{ help.lines|join('\\\n')}}

## Versions
{% for version in versions %}
### [{{ version.name }}](/Resources/{{ version.resource.plane }}/{{ version.resource.id }}/{{ version.resource.version}}.xml)

{% for resource in version.resources %}
<!-- {{ resource.plane }} {{ resource.id }} {{ resource.version }} -->
{% endfor %}

{% if version.examples is not none and version.examples|length %}
#### examples

{% for example in version.examples %}
- {{ example.name }}
    ```bash
    {% for line in example.lines %}
        {{ line }}
    {% endfor %}
    ```
{% endfor %}}}
{% endif %}

{% endfor %}