{% extends "python.j2" %}
{% block pylint %}
# pylint: disable=too-many-lines
# pylint: disable=too-many-statements
{% endblock %}

{% block imports %}
# from azure.cli.core.commands import CliCommandType
# from azure.cli.core.profiles import ResourceType
{% endblock %}

{% block code %}

def load_command_table(self, _):  # pylint: disable=unused-argument
    pass
{% endblock %}
