{% extends "python.j2" %}
{% block imports %}
# pylint: disable=too-many-lines
# pylint: disable=too-many-statements

# from azure.cli.core.commands import CliCommandType
# from azure.cli.core.profiles import ResourceType
{% endblock %}
{% block code %}

def load_command_table(self, _):
    pass
{% endblock %}
