.app {
    height: 100%;
  }
  
  .treeRoot {
    height: 100%;
  }
  
  .draggingSource {
    opacity: .3;
  }
  
  .dropTarget {
    background-color: #e8f0fe;
  }

  ul {
      list-style: none;
  }

  * {
      margin: 0;
      padding: 0;
  }
  
  html, body, #root {
    height: "100%";
  }