.TreeView {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    margin-block: 1em;
    /* padding-inline-start: 10px; */
}

.TreeView-item-container {
    --level: 1;
    --toggle-width: 1rem;
    position: relative;
    display: grid;
    grid-template-columns: calc(calc(var(--level) - 1) * (var(--toggle-width) / 2)) var(--toggle-width) 1fr;
    grid-template-areas: "spacer toggle content";
    width: 100%;
    min-height: 2rem;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
}

.TreeView-item-content {
    grid-area: content / content / content / content;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    padding: 0px 8px;
    gap: 8px;
}

.TreeView-item-content-text {
    flex: 1 1 auto;
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
